.navbar {
    background-color: var(--bg-primary);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1rem;
    stroke-width: 1.5;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text
{
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.nav-item:hover svg {
    stroke: var(--text-secondary);
}

/* Small screens */
@media only screen and (max-width: 600px) {
.navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
}

.logo {
    display: none;
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    justify-content: center;
}

main {
    margin: 0;
}
}

/* Large screens */
@media only screen and (min-width: 600px) {
.navbar {
    top: 0;
    width: 4rem;
    height: 100vh;
}

}
