:root {
  font-size: 16px;
  --text-primary: #ffffff;
  --text-secondary: #E35757;
  --text-title: #08FDC2;
  --bg-primary: #1a1f27;
  --bg-secondary: #0f1014;
  --transition-speed: 50ms;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contentBox {
  width: 100%;
}

.tsparticles-canvas-el {
  height: 100vh !important;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    margin: 10px 20px;
    font-size: 1.2rem;
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	color: rgb(255, 255, 255);
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
  -o-border-radius: 22px;
  transition: 100ms;
}

.socialbtns .fa:hover {
	color: var(--text-secondary);
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    flex-direction: column;
    overflow-y: scroll;
  }

}